server:
  port: 8083

spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${KAFKA_HOST}:${KAFKA_PORT}
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.value.default.type: by.aresheg.notification.dto.UserRegisteredEvent
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

app:
  email:
    from: ${EMAIL_USERNAME}
    verification:
      subject: "Confirm registration"
      url: ${EMAIL_VERIFICATION_URL:http://localhost:8222/api/v1/auth/verify-email}